<!-- Aquí vendría el menu de la app -->
<h1 style="background-color:#ede7e7">Aplicación Porteros</h1>
<ol class="nav justify-content-center border-bottom bg-light">
  <ul class="nav-item">
    <a class="nav-link" aria-current="page"  routerLink="/">Lista Porteros</a>
  </ul>
  <ul class="nav-item">
    <a class="nav-link"  routerLink="/nuevoPortero">Nuevo Portero</a>
  </ul>
  <ul class="nav-item">
    <a class="nav-link"  routerLink="/lista/Enero">Porteros Disponibles Enero</a>
  </ul>
  
</ol>


<router-outlet></router-outlet>