<div class="card w-50" *ngIf="portero">
    <div class="card-body">
      <h5 class="card-title">{{ portero.data.nombre }}</h5>
      <p class="card-text">{{ portero.data.apellidos }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ portero.data.ciudad }}</li>
        <li class="list-group-item">{{ portero.data.telefono }}</li>
        <li class="list-group-item">{{ portero.data.email }}</li>
        <li class="list-group-item">{{ portero.data.mesDisponible }}</li>
      </ul>
      <a routerLink="/edit/{{portero.id}}" class="btn btn-primary">Editar</a>
      <br/>
      <a routerLink="/edit/{{portero.id}}" class="btn btn-primary">Borrar</a>
    </div>
  </div>
